body {
  font-size: 12px;
  font-family: Microsoft YaHei;
  color: #000;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fa {
  width: 18px;
  text-align: center;
}
.btn {
  border: none !important;
  outline: none !important;
}
 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* 文本对齐 */
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}

/* 清除浮动 */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* 浮动闭合 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
/* 隐藏 */
.hidden {
  visibility: hidden;
}
.none-display {
  display: none !important;
}
.block-display {
  display: block !important;
}
.table-row-display {
  display: table-row !important;
}
/* 边框宽度*/
.border-thin {
  border: 1px solid #DDD;
}
.border-medium {
  border: 2px solid #DDD;
}
.border-thick {
  border: 3px solid #DDD;
}
.border-top-thin {
  border-top: 1px solid #DDD;
}
.border-right-thin {
  border-right: 1px solid #DDD;
}
.border-bottom-thin {
  border-bottom: 1px solid #DDD;
}
.border-left-thin {
  border-left: 1px solid #DDD;
}
.border-top-medium {
  border-top: 2px solid #DDD;
}
.border-right-medium {
  border-right: 2px solid #DDD;
}
.border-bottom-medium {
  border-bottom: 2px solid #DDD;
}
.border-left-medium {
  border-left: 2px solid #DDD;
}
.border-top-thick {
  border-top: 3px solid #DDD;
}
.border-right-thick {
  border-right: 3px solid #DDD;
}
.border-bottom-thick {
  border-bottom: 3px solid #DDD;
}
.border-left-thick {
  border-left: 3px solid #DDD;
}
.border-info {
  border-color: #46b8da;
}
/* 分隔线 */
.separator {
  display: inline-block;
  padding: 0 3px;
  color: #CCC;
}
.separator:before {
  content: "\/";
}
/* 加载图标 */
.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  opacity: 0.5;
  z-index: 1001;
  background-color: #FFF;
  text-align: center;
}
.loading > span {
  margin-top: 20%;
  color: #1ABC9C;
  font-size: 48px;
  font-weight: bold;
  z-index: 1002;
}
/* ` 图片
 ----------------------------------------------*/
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
/* 图片大小 */
.img-xs {
  width: 30px;
  height: 30px;
}
.img-sm {
  width: 50px;
  height: 50px;
}
.img-md {
  width: 140px;
  height: 140px;
}
/* ` 表格布局；以table元素的长度为100%，对父容器划分为32份。
--------------------------------------------------------------*/
.table-flow {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed !important;
}
.table-flow:before,
.table-flow:after {
  display: table;
  content: "";
  line-height: 0;
}
.table-flow:after {
  clear: both;
}
.table-flow [class*="grid"],
.table-flow [class*="grid"],
.table-flow [class*="grid"] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-flow th.grid-1,
.table-flow td.grid-1 {
  width: 2.125%;
}
.table-flow th.grid-2,
.table-flow td.grid-2 {
  width: 5.25%;
}
.table-flow th.grid-3,
.table-flow td.grid-3 {
  width: 8.375%;
}
.table-flow th.grid-4,
.table-flow td.grid-4 {
  width: 11.5%;
}
.table-flow th.grid-5,
.table-flow td.grid-5 {
  width: 14.625%;
}
.table-flow th.grid-6,
.table-flow td.grid-6 {
  width: 17.75%;
}
.table-flow th.grid-7,
.table-flow td.grid-7 {
  width: 20.875%;
}
.table-flow th.grid-8,
.table-flow td.grid-8 {
  width: 24%;
}
.table-flow th.grid-9,
.table-flow td.grid-9 {
  width: 27.125%;
}
.table-flow th.grid-10,
.table-flow td.grid-10 {
  width: 30.25%;
}
.table-flow th.grid-11,
.table-flow td.grid-11 {
  width: 33.375%;
}
.table-flow th.grid-12,
.table-flow td.grid-12 {
  width: 36.5%;
}
.table-flow th.grid-13,
.table-flow td.grid-13 {
  width: 39.625%;
}
.table-flow th.grid-14,
.table-flow td.grid-14 {
  width: 42.75%;
}
.table-flow th.grid-15,
.table-flow td.grid-15 {
  width: 45.875%;
}
.table-flow th.grid-16,
.table-flow td.grid-16 {
  width: 49%;
}
.table-flow th.grid-17,
.table-flow td.grid-17 {
  width: 52.125%;
}
.table-flow th.grid-18,
.table-flow td.grid-18 {
  width: 55.25%;
}
.table-flow th.grid-19,
.table-flow td.grid-19 {
  width: 58.375%;
}
.table-flow th.grid-20,
.table-flow td.grid-20 {
  width: 61.5%;
}
.table-flow th.grid-21,
.table-flow td.grid-21 {
  width: 64.625%;
}
.table-flow th.grid-22,
.table-flow td.grid-22 {
  width: 67.75%;
}
.table-flow th.grid-23,
.table-flow td.grid-23 {
  width: 70.875%;
}
.table-flow th.grid-24,
.table-flow td.grid-24 {
  width: 74%;
}
.table-flow th.grid-25,
.table-flow td.grid-25 {
  width: 77.125%;
}
.table-flow th.grid-26,
.table-flow td.grid-26 {
  width: 80.25%;
}
.table-flow th.grid-27,
.table-flow td.grid-27 {
  width: 83.375%;
}
.table-flow th.grid-28,
.table-flow td.grid-28 {
  width: 86.5%;
}
.table-flow th.grid-29,
.table-flow td.grid-29 {
  width: 89.625%;
}
.table-flow th.grid-30,
.table-flow td.grid-30 {
  width: 92.75%;
}
.table-flow th.grid-31,
.table-flow td.grid-31 {
  width: 95.875%;
}
.table-flow th.grid-32,
.table-flow td.grid-32 {
  width: 99%;
}
/*.label,
.badge {
  display: inline-block;
  width: 60px;
  padding: 3px;
  border-radius: 3px;
  font-size: 12px;
  color: #FFF;
  text-align: center;
  cursor: default;
}*/
.label-processing {
  background: #f1c40f;
}
.label-verified {
  background: #1abc9c;
}
.label-unverified {
  background: #f1c40f;
}
.label-frozen {
  background: #bdc3c7;
}
.label-pending {
  background: #1abc9c;
}
.label-actived {
  background: #1abc9c;
}
.label-mailing {
  background: #3498db;
}
.label-completed {
  background: #2ecc71;
}
.label-rejected {
  background: #bdc3c7;
}
.label-closed {
  background: #bdc3c7;
}
.label-canceled {
  background: #e74c3c;
}
.label-listed {
  background: #1abc9c;
}
.label-unlisted {
  background: #bdc3c7;
}
.label-displayed {
  background: #3498db;
}
.label-notdisplayed {
  background: #bdc3c7;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  outline: none;
  /*text-decoration: none;*/
  cursor: pointer;
}
a {
  color: #39b3d7;
}
a:hover {
  color: #29a8cd;
}
a.link-info {
  display: inline-block;
  margin: 9px 9px 0;
  font-size: 13px;
  color: #39b3d7;
}
a.link-info:hover {
  color: #29a8cd;
}
a.link-warning {
  color: #f1c40f;
}
a.link-warning:hover {
  color: #dab10d;
}
a.link-danger {
  color: #d2322d;
}
a.link-danger:hover {
  color: #bd2d29;
}
/* reset */
thead,
tbody,
tfoot {
  outline: none;
  border: none;
}
/* 表格初始化样式 */
.table {
  width: 100%;
  margin: 0 auto 9px;
  background-color: transparent;
  font: normal 14px/1.42857143 'microsoft yahei ui', 'Microsoft Yahei', Verdana, Helvetica, Arial, 'Simsun';
  color: #555;
  border-collapse: separate;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  padding: 6px;
  vertical-align: middle;
  border-bottom: none;
}
/* 圆角 */
.table > thead th:first-child {
  border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
}
.table > thead th:last-child {
  border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
}
/* 底部有边框 */
.table-simple > thead > tr > th,
.table-simple > tbody > tr > th,
.table-simple > tfoot > tr > th {
  border-bottom: none;
}
.table-simple > thead > tr > td,
.table-simple > tbody > tr > td,
.table-simple > tfoot > tr > td {
  border-top: none;
  border-bottom: 1px solid #dddddd;
}
/* 紧缩表格 */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px 5px;
}
/* 带边框的表格 */
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th {
  border: 1px solid #dddddd;
}
/* 条纹状 */
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
/* 鼠标悬停 */
.table-hover > tbody > tr:hover > th,
.table-hover > tbody > tr:hover > td {
  background-color: #efefef;
  color: #333;
}
.table-info > thead > tr > th {
  background-color: #39b3d7;
  color: #FFF;
  font-weight: normal;
}
.table th,
.table td {
  overflow: hidden;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus {
  position: relative;
  padding-top: 34px;
}
.menus > li {
  display: block;
  margin: 0 14px;
  padding: 5px 0 3px;
  border-bottom: 1px solid #dae1e8;
  box-shadow: 0 2px 1px -1px #FFFFFF;
}
.menus > li:hover > a > i,
.menus > li.open > a > i{
  color: rgb(51, 69, 90);
  font-weight: 600;
}
.menus > li.open > ul {
  display: block;
}
.menus > li.open .arrow:before {
  content: "\f107";
}
.menus > li.active > a {
  color: rgb(51, 69, 90);
  font-weight: 600;
  text-shadow: 1px 1px 1px #fff;
}
.menus > li.active > a .fa {
  color: rgb(51, 69, 90);
}
.menus > li.active > a .arrow:before {
  color: #fff;
}
.menus > li > a {
  display: block;
  padding: 10px 15px;
  color: rgb(51, 69, 90);
  cursor: pointer;
}
.menus > li .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f104";
  font-weight: 600;
  text-shadow: none;
  color: #969696;
}
.menus > li i {
  color: #969696;
  width: 24px;
  height: 24px;
  font-size: 23px;
  vertical-align: middle;
}
.submenus {
  display: none;
  margin: 8px 0;
}
.submenus > li:hover > a {
  text-decoration: underline;
}
.submenus > li > a {
  display: block;
  padding: 5px 0 5px 44px;
  color: rgb(76, 83, 90);
  letter-spacing: 1px;
}
.breadcrumb {
  min-height: 41px;
  font-size: 13px;
  color: #333;
  border-bottom: 1px solid #dae3e9;
}
.breadcrumb a {
  color: #29323a;
}
.breadcrumb i {
  position: relative;
  top: 2px;
  font-size: 20px;
  color: #666;
}
.dashboard .welcome {
  margin: 0px 0 20px 0;
  font-size: 18px;
}
.dashboard .announcement {
  min-height: 150px;
}
.dashboard .announcement > .header {
  height: 30px;
  padding: 0 15px;
  background-color: #29a8cd;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
}
.dashboard .announcement > .header a {
  color: #555;
  text-decoration: underline;
}
.dashboard .announcement > .header i {
  color: #fff;
}
.dashboard .announcement > .content {
  overflow: hidden;
  color: #666;
}
.dashboard .announcement > .content p {
  padding: 5px 8px;
  margin: 0 0 6px;
  border-bottom: 1px solid #ddd;
}
.dashboard .announcement > .content .date {
  text-align: right;
  font-size: 10px;
  color: #777;
}
.dashboard .announcement {
  border: solid 1px #ed9c28;
}
.dashboard .announcement > .header {
  background-color: #ed9c28;
}
.groupmanage .form-horizontal {
  margin-right: 12px;
}
.groupmanage .form-horizontal label {
  padding-left: 6px;
}
.groupmanage .form-horizontal textarea {
  resize: none;
  height: 75px;
}
.groupmanage .form-horizontal [type=checkbox] {
  margin-top: 11px;
}
.groupmanage .add-group {
  position: relative;
  top: 47px;
}
.groupmanage .add-group button {
  margin-top: 0 !important;
}
.groupmanage .begin-time {
  margin-top: 3px;
}
.classemanage .isopen {
  letter-spacing: 2px;
}
.classemanage .classe-operation {
  margin: 0 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: solid 1px #39b3d7;
}
.classemanage .classe-operation .header {
  height: 26px;
  background-color: #39b3d7;
  text-align: right;
}
.classemanage .classe-operation .header span {
  color: #fff;
  line-height: 26px;
  padding-right: 20px;
}
.classemanage .classe-operation .header i {
  color: #fff;
}
.classemanage .classe-operation form {
  padding: 15px 20px 40px;
}
.classemanage .classe-operation div.checkbox {
  margin-bottom: 30px;
}
.userslist select {
  margin-bottom: 12px;
}
.usercreate .form-group [class|=col-md] {
  padding-right: 8px;
  padding-left: 8px;
}
.usercreate .form-group .control-label {
  letter-spacing: 1px;
}
.usercreate .form-group .user-add,
.usercreate .form-group .msg {
  margin-left: 8px;
}
.usercreate .form-group .msg {
  color: #d2322d;
}
.usercreate .checkboxs {
  margin-top: 7px;
  padding-left: 0;
}
.usercreate .checkboxs > div {
  float: left;
  margin-right: 22px;
}
.usercreate .checkboxs [type=checkbox] {
  float: none;
  display: inline-block;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
.usercreate .tip {
  padding-top: 7px;
}
.usercreate .tip span {
  color: #ed9c28;
}
.myprofile {
  color: #666;
}
.myprofile > .row [class|=col-md] {
  padding-right: 15px;
}
.myprofile .block-title {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
  color: #ed9c28;
  font-weight: bold;
}
.passwordmodify form {
  margin-top: 20px;
}
html,
body {
  height: 100%;
}
.page-header {
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 7%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #191e23;
  background: linear-gradient(to bottom, #2c3742 0%,#28303a 100%);
  color: #fff;
}
.page-header .brand {
  float: left;
  margin: 0 0 0 18px;
}
.page-header .brand .name {
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
.page-header .nav {
  margin-right: 1px;
}
.page-header .user > a {
  position: relative;
  padding: 5px 15px;
  color: #fff;
}
.page-header .has-notific {
  color: red;
}
.page-header .user .notific.badge{
  position: absolute;
  top: 0;
  left: 38px;
  background-color: red;
}
.page-header .user > a:active,
.page-header .user > a:focus {
  background-color: #212121;
}
.page-header .user > a:hover {
  background-color: #3d3d3d;
}
.page-header .user.open > a {
  background-color: #3d3d3d;
}
h4.header {
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.page-header .user .dropdown-menu {
  right: 0;
  left: auto;
}
.page-container {
  position: relative;
  width: 100%;
  height: 88%;
  background-color: #f5f5f5;
};
.menu-toggler {
  display: none;
}
.page-sidebar {
  float: left;
  width: 150px;
  height: 100%;
  color: rgb(51, 69, 90);
  background-color: #f7f7f7;
}
.page-content {
  overflow: hidden;
  margin-left: 150px;
  min-height: 100%;
  background-color: #fff;
  border: 1px solid #dae3e9;
}
.main-content {
  padding: 0 12px;
}
.page-footer {
  height: 5%;
  background-color: #3d3d3d;
}
.copyright {
  text-align: center;
}
.page-footer .content {
  color: #999;
  font-size: 13px;
  line-height: 30px;
}
.page-info {
  position: absolute;
  top: 50px;
  right: 15px;
}
.page-info .alert {
  margin-bottom: 8px;
}
.form-group > label {
  text-align: right;
  padding: 6px 12px 0 0;
}
.blue {
  color: #39b3d7;
}
.green {
  color: #5cb85c;
}
.tag .label{
  display: inline-block;
  margin: 0 6px 6px 0;
}
.tag .close {
  float: none;
  font-size: 15px;
}
@media only screen and (max-width: 991px) {
  .menu-toggler {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 998;
    width: 52px;
    height: 32px;
    margin-right: 2px;
    line-height: normal;
    padding-left: 33px;
    padding-top: 7px;
    padding-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #444;
    color: #f3f3f3;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler:before {
    border-top: 1px solid #87b87f;
    border-bottom: 1px solid #6fb3e0;
    height: 2px;
    width: 24px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 4px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler:after {
    border-top: 1px solid #ffa24d;
    border-bottom: 1px solid #d15b47;
    content: "";
    height: 2px;
    width: 24px;
    position: absolute;
    top: 19px;
    left: 4px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler>.menu-text {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
    border: 1px solid transparent;
    border-width: 9px 42px;
    border-top-color: #444;
  }
  .menu-toggler>.menu-text:after {
    display: block;
    color: #FFF;
    content: "MENU";
    position: absolute;
    left: -8px;
    top: -41px;
  }
  .page-sidebar {
    display: none;
  }
  .open.page-sidebar {
    display: block;
  }
  .page-content {
    margin-left: 0;
  }
  .breadcrumb {
    padding-left: 85px;
  }
}
@media only screen and (max-width: 767px) {
  .menu-toggler {
    width: 0;
  }
  .menu-toggler>.menu-text:after {
    display: none;
  }
  .menu-toggler>.menu-text {
    border-width: 9px 17px;
  }
  .breadcrumb {
    padding-left: 33px;
  }
  .page-header .brand .name {
    font-size: 16px;
  }
}