<!DOCTYPE html>
<html ng-app="cms">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页－企业内部后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/index.css">
  </head>
  <body ng-controller="appCtrl">
    <!-- 顶栏 -->
    <div ng-controller="headerCtrl" class="page-header">
      <div class="brand"><span class="name">后台管理系统</span></div>
      <ul class="nav pull-right">
        <li on-toggle="toggled(open)" class="dropdown user">
          <a href class="dropdown-toggle">
            <img src="/imgs/avatar1_small.jpg">
              <span>&nbsp;&nbsp;{{user.username}}&nbsp;</span>
              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" ui-sref="myprofile"><i class="fa fa-user"></i>个人信息</a></li>
            <li><a href="#" ui-sref="mytasks"><i class="fa fa-tasks"></i>我的任务</a></li>
            <li class="divider"></li>
            <li><a href="/logout" logout><i class="fa fa-key"></i>登&nbsp;出</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- 主体 -->
    <div class="page-container">
      <a id="menu-toggler" on-toggle="toggled(open)" target="_blank" href class="menu-toggler"><span class="menu-text"></span></a>
      <!-- 菜单栏 -->
      <div ng-controller="sidebarCtrl" class="page-sidebar">
        <ul class="menus">
          <li class="a-level active">
            <a ui-sref="feedback">
              <i class="fa fa-home"></i>
              <span>首页</span>
            </a>
          </li>
          <li ng-repeat="menu in menus" class="a-level">
            <a open-submenus>
              <i ng-class="menu.class" class="fa"></i>
              <span ng-bind="menu.name"></span>
              <span class="arrow"></span>
            </a>
            <ul class="submenus">
              <li ng-repeat="submenus in menu.submenus" class="b-level"><a ui-sref="{{submenus.uisref}}" ng-bind="submenus.name" open-page></a></li>
            </ul>
          </li>
          <li class="a-level">
            <a open-submenus>
              <i class="fa fa-info"></i>
              <span>关于团队</span>
              <span class="arrow"></span>
            </a>
            <ul class="submenus">
              <li class="b-level">
                <a ui-sref="teaminfo" open-page>团队信息</a>
              </li>
              <li class="b-level">
                <a ui-sref="teammember" open-page>团队架构</a>
              </li>
              <li class="b-level">
                <a ui-sref="contactus" open-page>联系方式</a>
              </li>
            </ul>
          </li>
          <li class="a-level">
            <a open-submenus>
              <i class="fa fa-user"></i>
              <span>我的帐号</span>
              <span class="arrow"></span>
            </a>
            <ul class="submenus">
              <li class="b-level">
                <a ui-sref="passwordmodify" open-page>修改密码</a>
              </li>
              <li class="b-level">
                <a ui-sref="myprofile" open-page>个人信息</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- 页面内容 -->
      <div class="page-content">
        <div ui-view>
          <div class="row">
            <ul class="breadcrumb">
              <li><i class="fa fa-home"></i> 首页</li>
            </ul>
          </div>
          <div class="dashboard row">
            <div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2">
              <h2 class="welcome">欢迎{{user.username}}登录企业内部后台管理系统</h2>
            </div>
            <div class="col-md-8 col-xs-10 col-xs-offset-1 col-md-offset-2">
              <div class="tips">
                <div class="header"><i class="fa fa-bell-o"></i><span>小小提示</span></div>
                <div class="content">
                  <ul>
                    <li>请保证每日至少登录一次，已查看最新任务和通知</li>
                    <li>各位成员请及时跟进小组长安排下来的任务并及时反馈</li>
                  </ul>
                </div>
              </div>
              <div class="announcement">
                <div class="header"><i class="fa fa-flag-o"></i><span>最新公告</span></div>
                <div class="content">
                  <p>六月初，我们团队将开始本学年的团队招新，请各位成员开始准备招新工作</p>
                  <p>总组长和各位小组长需要准备演讲资料</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer">
      <div class="copyright"><span class="content">2015 © Designed and built by Wang && Chen.</span></div>
    </div>
    <div class="page-info">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <script src="/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-ui-router/angular-ui-router.js"></script>
    <script src="/vendor/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controller.js"></script>
    <script src="/scripts/directive.js"></script>
    <script src="/scripts/service.js"></script>
    <script src="/scripts/filter.js"></script>
  </body>
</html>