<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登录－企业内部后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/login.css">
  </head>
  <body>
    <div class="container">
      <div class="box">
        <form class="form-login">
          <div class="title">
            <h6>LOG IN</h6>
          </div>
          <div class="account">
            <input name="account" type="text" placeholder="Your account" class="form-control"><i style="margin-right: 3px;" class="fa fa-user"></i>
          </div>
          <div class="password">
            <input name="password" type="password" placeholder="Your password" class="form-control"><i class="fa fa-key"></i>
          </div>
          <div class="forget"><a href="#">Fogort password?</a></div>
          <div class="remember">
            <input type="checkbox"><span>&nbsp;&nbsp;Remember me</span>
          </div>
          <div class="msg"><span>账号和密码不能为空</span></div>
          <div class="submit">
            <button type="button" class="logIn btn btn-primary btn-block">LOG IN</button>
          </div>
        </form>        
      </div>
      <div class="no-account">
        <P>Don't have an account?</P>
        <a href="signup">Sign up</a>
      </div>
    </div>
    <script src="/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="/vendor/jquery/jquery.cookie.js"></script>
    <script src="/scripts/login.js"></script>
  </body>
</html>