<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册－企业内部后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/css/signup.css">
  </head>
  <body>
    <header>
      <h2>后台管理系统</h2>
    </header>
    <div class="box">
      <form class="form-login">
        <div class="title">
          <h6>SIGN UP</h6>
        </div>
        <div class="account">
          <input name="account" type="text" placeholder="Account" class="form-control">
        </div>
        <div class="password">
          <input name="password" type="password" placeholder="Password" class="form-control">
        </div>
        <div class="confirm">
            <input name="confirm" type="password" placeholder="Confirm password" class="form-control">
        </div>
        <div class="msg"><span>账号和密码不能为空</span></div>
        <div class="submit">
          <button type="button" class="signup btn btn-primary">SIGN UP</button>
        </div>
      </form>        
    </div>
    <div class="no-account">
      <P>Already have an account?</P>
      <a href="login">Sign in</a>
    </div>
    <script src="/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script src="/vendor/jquery/jquery.cookie.js"></script>
    <script src="/scripts/signup.js"></script>
  </body>
</html>