div(class="container-fluid groupmanage")
  div.row
    div.col-md-12
      ol.breadcrumb
        li
          i(class="fa fa-home")
        li
          a 类别管理
        li.active 小组管理
  div(class="row" style="margin-top: 20px;")
    div(class="col-md-3")
      div.form-horizontal
        div(class="form-group")
          label(class="col-md-4 control-label") 名&nbsp;称：
          div(class="col-md-8")
            input(type="text" class="form-control input-sm" placeholder="名称" ng-model="groupname")
        div(class="form-group")
          label(class="col-md-4 control-label") 组&nbsp;长：
          div(class="col-md-8")
            select(class="form-control input-sm" placeholder="小组长" ng-model="groupleader")
              option(value="") 请选择人员
              option(ng-repeat="user in users" value="{{user._id}}") {{user.username}}
    div(class="col-md-5")
      div.form-horizontal
        div(class="form-group")
          label(class="col-md-2 control-label") 详介绍：
          div(class="col-md-10")
            textarea(class="form-control input-sm" placeholder="详细介绍..." ng-model="groupdescription")
    div(class="col-md-3")
      div.form-horizontal
        div(class="form-group")
          label(class="col-md-4 control-label") 是否开启：
          div(class="col-md-8")
            input(type="checkbox" ng-model="groupisopen")
        div(class="form-group")
          label(class="col-md-4 control-label") 启动时间：
          div(class="begin-time col-md-8")
            input(type="text" class="form-control input-sm" placeholder="启动时间" ng-model="groupbegintime")
    div(class="col-md-1")
      div.form-horizontal
        div(class="form-group")
          div(class="add-group")
            button(class="btn btn-sm btn-info btn-block" add-group ng-show="status !== 'update'") 确认添加
            button(class="btn btn-sm btn-warning btn-block" update-group ng-show="status === 'update'") 确认修改
  div.row
    div(class="col-md-12")
      div.groups-list
        table(class="table table-simple table-hover table-info table-condensed table-flow")
          thead
            tr
              th(class="grid-2") 序&nbsp;号
              th(class="grid-4") 名&nbsp;称
              th(class="grid-3") 组&nbsp;长
              th(class="grid-")  当前成员
              th(class="grid-3") 是否开启
              th(class="grid-4") 启动时间
              th(class="grid-5") 操&nbsp;作
          tbody
            tr(ng-repeat="group in groups")
              td(title="{{$index + 1}}") {{$index + 1}}
              td(title="{{group.name}}") {{group.name}}
              td(title="{{group.leader}}") {{group.leader || '还未任命'}}
              td(title="{{group.currentNumber}}") {{group.currentNumber}}
              td(class="isopen" title="{{group.isOpen}}")
                span(class="label" ng-class="{'label-closed': !group.isOpen, 'label-actived': group.isOpen}") {{group.isOpen | isopen}}
              td(title="{{group.beginTime | date: 'yyyy-MM-dd'}}") {{group.beginTime | date: 'yyyy-MM-dd'}}
              td
                a() 详&nbsp;情
                span(class="separator")
                a(class="link-warning" go-update-group) 修&nbsp;改
                span(class="separator")
                a(class="link-danger" delete-group) 删&nbsp;除

