div(class="container-fluid passwordmodify")
  div.row
    div.col-md-12
      ol.breadcrumb
        li
          i(class="fa fa-home")
        li
          a 我的账号
        li.active 修改密码
  div.row
    div(class="col-md-3 col-md-offset-4")
      form
        div.form-group
          label(for="oldPassword") 当前密码
          input(class="form-control" id="oldPassword"  type="password" placeholder="当前密码")
        div.form-group
          label(for="newPassword1") 新密码
          input(class="form-control" id="newPassword1" type="password" placeholder="新密码")
        div.form-group
          label(for="newPassword2") 确认新密码
          input(class="form-control" id="newPassword2" type="password" placeholder="确认新密码")
        buttom(class="btn btn-info") 确认修改密码
