
<div class="container-fluid passwordmodify">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li><a>我的账号</a></li>
        <li class="active">修改密码</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <form>
        <div class="form-group">
          <label for="oldPassword">当前密码</label>
          <input id="oldPassword" type="password" placeholder="当前密码" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="newPassword1">新密码</label>
          <input id="newPassword1" type="password" placeholder="新密码" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="newPassword2">确认新密码</label>
          <input id="newPassword2" type="password" placeholder="确认新密码" class="form-control"/>
        </div>
        <buttom class="btn btn-info">确认修改密码</buttom>
      </form>
    </div>
  </div>
</div>