
<div class="container-fluid usercreate">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li><a>人员管理</a></li>
        <li class="active">新增成员</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="form col-md-8 col-md-offset-1">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="account" class="col-md-4 control-label">登录账号：</label>
          <div class="col-md-4">
            <input type="text" id="account" placeholder="登录账号" ng-model="useraccount" class="account form-control input-sm"/>
          </div>
          <div class="tip col-md-4"><span>有别于用户名，由数字和字母构成</span></div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-4 control-label">登录密码：</label>
          <div class="col-md-4">
            <input type="password" id="password" placeholder="密码" value="123" ng-model="userpassword" class="password form-control input-sm"/>
          </div>
          <div class="tip col-md-3"><span>默认密码为'123'</span></div>
        </div>
        <div class="form-group">
          <label for="jointime" class="col-md-4 control-label">加入团队时间：</label>
          <div class="col-md-4">
            <input type="text" id="jointime" placeholder="格式：2014-12-12" ng-model="userjointime" class="jointime form-control input-sm"/>
          </div>
          <div class="tip col-md-3"><span>默认当前时间</span></div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">担任角色：</label>
          <div class="col-md-8">
            <div class="checkboxs clearfix">
              <div ng-repeat="role in roles">
                <input type="checkbox" value="{{role}}" ng-checked="selectedRoles.indexOf(role) &gt; -1" ng-click="toggleselectedRoles(role)"/><span>{{role | role}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">所在开发小组：</label>
          <div class="col-md-8">
            <div class="checkboxs clearfix">
              <div ng-repeat="group in groups">
                <input type="checkbox" value="{{group.number}}" ng-checked="selectedGroups.indexOf(group.number) &gt; -1" ng-click="toggleselectedGroups(group.number)"/><span>{{group.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-md-8">
            <buttom add-user="add-user" class="user-add btn btn-sm btn-warning">确认添加<i class="fa fa-plus"></i></buttom>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-md-8"><span class="msg">{{addUserMsg}}</span></div>
        </div>
      </form>
    </div>
  </div>
</div>