<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li>员工信息</li>
        <li class="active" ng-bind="info.username"></li>
      </ol>
    </div>
  </div>
  <div class="row main-content">
    <form class="form-horizontal">
      <div class="alert alert-danger text-center" role="alert"ng-show="errorMsg">
        <span class="msg" ng-bind="errorMsg"></span>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">姓名</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.username" class="form-control-static" ng-show="!isEdit"></p>
          <input type="text" placeholder="姓名" ng-model="info.username" ng-disabled="normal" ng-show="isEdit" class="form-control input-sm"/>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">帐号</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.account" class="form-control-static" ng-show="!isEdit"></p>
          <input type="text" placeholder="帐号" ng-model="info.account" ng-disabled="normal" ng-show="isEdit" class="form-control input-sm"/>        
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">状态</label>
        <div class="col-sm-8 col-xs-3">
          <p ng-bind="info.status | userStatus" class="form-control-static" ng-show="!isEdit"></p>
          <select class="form-control" ng-model="info.status" ng-show="isEdit">
            <option value="true">在职</option>
            <option value="false">离职</option>
          </select> 
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">职位</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.role.name" class="form-control-static" ng-show="!isEdit"></p>
          <select class="form-control" ng-model="info.role.number" ng-show="isEdit">
            <option value="00">管理员</option>
            <option value="01">组长</option>
            <option value="10">正式员工</option>
            <option value="11">面试人员</option>
          </select>  
        </div>
      </div>
      <div class="form-group col-sm-4" ng-show="info.currentGroup">
        <label class="col-sm-2 col-xs-3">所在小组</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-repeat="group in info.currentGroup" class="form-control-static">
            <a ng-bind="group.name" ui-sref="groupdetail({ id: group._id })"></a>
          </p>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">入职日期</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.jointime | date" class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">生日</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.birthday" class="form-control-static" ng-show="!isEdit"></p>
          <input type="text" placeholder="生日" ng-model="info.birthday" ng-disabled="normal" ng-show="isEdit" class="form-control input-sm"/>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">手机</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.phone" class="form-control-static" ng-show="!isEdit"></p>
          <input type="text" placeholder="帐号" ng-model="info.phone" ng-disabled="normal" ng-show="isEdit" class="form-control input-sm"/>
        </div>
      </div>
      <div class="form-group col-sm-4" ng-show="info.projects">
        <label class="col-sm-2 col-xs-3">参与项目</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-repeat="project in info.projects" class="form-control-static">
            <a ng-bind="project.name" ui-sref="projectdetail/{{project._id}}"></a>
          </p>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label class="col-sm-2 col-xs-3">个人简介</label>
        <div class="col-sm-8 col-xs-8">
          <p ng-bind="info.introduction" class="form-control-static" ng-show="!isEdit"></p>
          <textarea class="form-control" ng-model="info.introduction" rows="3" ng-show="isEdit"></textarea>
        </div>
      </div>
      <div class="row">
        <button type="button" id="operationBtn" class="btn btn-primary col-xs-4 col-xs-offset-4" ng-show="user.role.number | isAdmin" admin-edit="admin-edit" ng-bind="oper"></button>
        <a ng-show="isEdit" class="link-info" admin-revok>取消编辑</a>
      </div>
    </form>
  </div>
</div>