
<div class="container-fluid userslist">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li><a>人员管理</a></li>
        <li class="active">成员列表</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="users-list main-content">
        <div class="row">
          <div class="col-xs-4 col-md-2 pull-right">
            <select ng-model="query" class="form-control" ng-change="changeQuery()">
              <option value="">全部</option>
              <option value="00">管理员</option>
              <option value="01">组长</option>
              <option value="10">员工</option>
              <option value="11">面试人员</option>
            </select>
          </div>
        </div>
        <table class="table table-simple table-hover table-info table-condensed table-flow">
          <thead>
            <tr>
              <th class="grid-1"></th>
              <th class="grid-4">姓&nbsp;名</th>
              <th class="grid-3">职&nbsp;务</th>
            </tr>
          </thead>
          <tbody ng-repeat="user in users" class="user-all single single-{{$index + 1}}">
            <tr class="base">
              <td>{{$index + 1}}</td>
              <td title="{{user.username}}">
                <a ui-sref="userdetail({id: user._id})">{{user.username}}</a>
              </td>
              <td title="{{user.role | role}}">{{user.role | role}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>