
<div class="container-fluid usercreate">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i></li>
        <li><a>人员管理</a></li>
        <li class="active">新增成员</li>
      </ol>
    </div>
  </div>
  <div class="row main-content">
    <form class="form-horizontal">
      <div class="form-group text-center">
        <span class="msg">{{addUserMsg}}</span>
      </div>
      <div class="form-group">
        <label for="account" class="col-xs-4 control-label"><span class="text-danger">*</span>职位：</label>
        <div class="col-xs-7">
          <select ng-model="role" class="form-control">
            <option value="00">管理员</option>
            <option value="01">组长</option>
            <option value="10">员工</option>
            <option value="11">面试人员</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="account" class="col-xs-4 control-label"><span class="text-danger">*</span>登录账号：</label>
        <div class="col-xs-7">
          <input type="text" id="account" placeholder="name@wc.com" ng-model="useraccount" class="account form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-xs-4 control-label">登录密码：</label>
        <div class="col-xs-7">
          <input type="password" id="password" placeholder="默认密码123" value="123" ng-model="userpassword" class="password form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-xs-4 control-label">姓名：</label>
        <div class="col-xs-7">
          <input type="text" value="123" ng-model="username" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="birthday" class="col-xs-4 control-label">出生日期：</label>
        <div class="col-xs-7">
          <input type="text" placeholder="1993-02-01" value="123" ng-model="userbirthday" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-xs-4 control-label">手机：</label>
        <div class="col-xs-7">
          <input type="text" value="123" ng-model="userphone" class="form-control"/>
        </div>
      </div>
      <div class="form-group" ng-show="role == '10'">
        <label class="col-xs-4 control-label">所在小组：</label>
        <div class="col-xs-8">
          <div class="checkboxs clearfix">
            <div ng-repeat="group in groups">
                <input type="checkbox" value="{{group._id}}" ng-checked="$index == 0" ng-click = "toggleselectedGroups(group._id)"/>
                <span>{{group.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="role == '01'">
        <label class="col-xs-4 control-label">归属小组：</label>
        <div class="col-xs-8">
          <div class="checkboxs clearfix">
            <div ng-repeat="group in groups">
              <input type="radio" value="{{group._id}}" ng-checked="$index == 0" ng-click = "togglebelongGroup(group._id)" name="belongGroup"/>
              <span>{{group.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
          <buttom add-user="add-user" class="user-add btn btn-sm btn-warning">确认添加<i class="fa fa-plus"></i></buttom>
        </div>
      </div>
    </form>
  </div>
</div>